{{> logo-head }} {{!-- Title --}}

<h1 class="text-center text-4xl mb-8 font-bold text-acent">
  Editar detalles de
  <p class="inline-block italic uppercase">{{ event.NAME }}</p>
</h1>

{{!-- Form to add event --}}

<form
  class="wrapper"
  action="/events/edit/{{ event.ID }}"
  method="POST"
  autocomplete="off"
>
  {{!-- Grid container --}}
  <div class="grid gap-4 md:grid-cols-2">
    <div class="rounded bg-bg_color p-4 shadow-sm">
      <div class="flex items-center justify-center">
        <p class="text-center uppercase my-4 font-bold mr-2">
          Detalles de evento
        </p>
        {{> event-icon }}
      </div>

      <label>
        Nombre del evento
        <input
          class="input mt-2 mb-4 text-primary"
          name="name"
          type="text"
          maxlength="80"
          value="{{ event.NAME }}"
        />
      </label>
      <label>
        Descripción
        <textarea
          rows="2"
          class="input mt-2 mb-4 text-primary"
          name="description"
          type="text"
          maxlength="250"
        >
{{ event.DESCRIPTION }}</textarea
        >
      </label>
      <label>
        Fecha
        <input
          class="input mt-2 mb-4 text-primary"
          name="date"
          type="date"
          value="{{ formatDate event.DATE_START }}"
        />
      </label>
      <label>
        <div class="grid grid-cols-2 gap-4">
          <div>
            Hora
            <input class="input mt-2 mb-4" name="hour" type="time" value="{{ formatHour event.DATE_START }}" required />
          </div>
          <div>
            Duración
            <input 
              class="input mt-2 mb-4" 
              name="duration" 
              type="time" 
              placeholder="Duración"
              value="{{ event.DURATION }}"
              required />
          </div>
          </div>
      </label>
      <label>
        <div class="grid grid-cols-2 gap-4">
          <div>
            Cantidad de asistentes
            <input
              class="input mt-2 mb-4"
              name="num_attendees"
              type="number"
              min="1"
              max="1000000"
              placeholder="Asistentes"
              value="{{ event.NUM_ATTENDEES }}"
              required
            />
          </div>
          <div>
            Aforo permitido
            <div class="percentage">
              <input
                class="input mt-2 mb-4"
                name="capacity_allowed"
                type="number"
                min="1"
                max="100"
                placeholder="Aforo"
                value="{{ formatPercent event.CAPACITY_ALLOWED }}"
                required
              />
              <p class="percentage-p">%</p>
            </div>
          </div>
        </div>
      </label>
    </div>

    <div class="rounded bg-bg_color p-4 shadow-sm">
      <div class="flex items-center justify-center">
        <p class="text-center uppercase my-4 font-bold mr-2">
          Detalles de lugar
        </p>
        {{> place-icon }}
      </div>

      <label>
        Nombre
        <input
          class="input mt-2 mb-4 text-primary"
          name="name_place"
          type="text"
          maxlength="50"
          value="{{ event.NAME_PLACE }}"
        />
      </label>
      <label>
        Dirección
        <input
          class="input mt-2 mb-4 text-primary"
          name="address"
          type="text"
          maxlength="100"
          value="{{ event.ADDRESS }}"
        />
      </label>
      <label>
        Capacidad máxima
        <input
          class="input mt-2 mb-4"
          name="capacity_max"
          type="number"
          value="{{ event.CAPACITY_MAX }}"
        />
      </label>
    </div>
  </div>

  <button
    class="btn-round w-full mt-8 mb-8 bg-acent text-white font-bold focus:outline-none"
    type="submit"
  >
    Guardar
  </button>
</form>

{{!-- SCRIPT --}}
<script src="/js/date-valid.js"></script>