<div class="logo flex items-center justify-center py-2 mb-8 shadow-sm">

  <a href="/user/profile">
    <img src="/assets/img/ds-logo.svg" width="60px" alt="logo-ds">
  </a>
  
</div> 

{{!-- Title --}}

<h1 class="text-center text-4xl mb-8 font-bold text-acent">Editar detalles de <p class="inline-block italic uppercase">{{ event.NAME }}</p></h1>

{{!-- Form to add event --}}

<form class="wrapper" action="/events/edit/{{ event.ID }}" method="POST" autocomplete="off">

  {{!-- Grid container --}}
  <div class="grid gap-4 md:grid-cols-2"> 

    <div class="rounded bg-bg_color p-4 shadow-sm">

      <div class="flex items-center justify-center">

        <p class="text-center uppercase my-4 font-bold mr-2">Detalles de evento</p>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>

      </div>

      <label>
        Nombre del evento
        <input class="input mt-2 mb-4 text-primay" name="name" type="text" value="{{ event.NAME }}" />
      </label>
      <label>
        Descripción
        <textarea rows="2" class="input mt-2 mb-4 text-primay" name="description" type="text" value="{{ event.DESCRIPTION }}"></textarea>
      </label>
      <label>
        Fecha
        <input class="input mt-2 mb-4 text-primay" name="date" type="date" value="{{ formatDate event.DATE_START }}" />
      </label>
      <label>
        Hora
        <input class="input mt-2 mb-4 text-primay" name="hour" type="time" value="{{ formatHour event.DATE_START }}"/>
      </label>
      <label>
        Duración estimada
        <input class="input mt-2 mb-4 text-primay" name="duration" type="time" value="{{ event.DURATION }}" />
      </label>
      <label>
        Cantidad de asistentes
        <input class="input mt-2 mb-4 text-primay" name="num_attendees" type="number" value="{{ event.NUM_ATTENDEES }}" />
      </label>
      <label>
        Capacidad de aforo permitida
        <input class="input mt-2 mb-4 text-primay" name="capacity_allowed" type="number" placeholder="%" value="{{ formatPercent event.CAPACITY_ALLOWED }}">
      </label>

      {{!-- Category can´t edit --}}

      {{!-- <label>
        Categoría del evento
        <select class="input mt-2 text-primay" name="type">
          <option value="" disabled selected>Selecciona una categoría</option>
          <option value="DEPORTIVO">DEPORTIVO</option>
          <option value="SOCIAL">SOCIAL</option>
          <option value="POLÍTICO">RELIGIOSO</option>
          <option value="POLÍTICO">POLÍTICO</option>
          <option value="POLÍTICO">DEPORTIVO</option>
          <option value="OTRO">OTRO</option>
        </select>
      </label> --}}

    </div>

    <div class="rounded bg-bg_color p-4 shadow-sm">
      
      <div class="flex items-center justify-center">

        <p class="text-center uppercase my-4 font-bold mr-2">Detalles de lugar</p>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>

      </div>

      <label>
        Nombre
        <input class="input mt-2 mb-4 text-primay" name="name_place" type="text" placeholder="" value="{{ place.NAME }}">
      </label>
      <label>
        Dirección
        <input class="input mt-2 mb-4 text-primay" name="address" type="text" placeholder="" value="{{ place.ADDRESS }}">
      </label>

      {{!-- Type can't edit --}}

      {{!-- <label>
        Tipo
        <select class="input mt-2 mb-4 text-primay" name="type_place">
          <option value="" disabled selected>Selecciona una categoría</option>
          <option value="SALÓN DE EVENTOS">SALÓN DE EVENTOS</option>
          <option value="ESTADIO">ESTADIO</option>
          <option value="PARQUE">PARQUE</option>
          <option value="CENTRO COMERCIAL">CENTRO COMERCIAL</option>
          <option value="IGLESIA">IGLESIA</option>
          <option value="OTRO">OTRO</option>
        </select>
      </label> --}}
      <label>
        Capacidad máxima
        <input class="input mt-2 mb-4 text-primay" name="capacity_max" type="number" placeholder="" value="{{ place.CAPACITY_MAX }}">
      </label>

    </div>

  </div>

  <button class="btn-round w-full mt-8 mb-8 bg-acent text-white font-bold focus:outline-none" type="submit">
    Guardar
  </button>

</form>